:root {
    --main-font : 'Mate SC', serif;
    --main-color : #e53935;
}

* {
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

/* Header */
header {
    padding : 1rem;    
}

/*Header - logo*/
header .logo {
    margin-bottom: 0.3rem;
}

header .logo a {
    text-decoration: none;
    color : black;
}

header .logo a h1 {
    font-size : 3rem;
    font-family: var(--main-font);
}
header .logo a h1 i {
    color : var(--main-color);
}

/*Header - searchBox*/
header .searchBox {
    display: flex;
    align-items: center;
}

header .searchBar {
    width : 80vw;
    height: 3rem;
    border : 2px solid var(--main-color);
    border-radius: 1rem;
    outline: none;
    padding : 10px;
    font-size : 1rem;
    margin-right: 0.4rem;
}

header .submitBtn {
    min-width: 6rem;
    min-height : 3rem;
    font-size: 1.5rem;
    border : 2px solid var(--main-color);
    border-radius: 1rem;
    padding : 0.3rem;
    background: none;
    transition: all 600ms;
}

header .submitBtn:hover {
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    background: var(--main-color);
    color : white;
    cursor: pointer;
    transform :translateX(15px);
}

/* sectionMain */
.sectionMain {
    /* max-width : 90vh; */
}
/* sectionMain - sectionMainInfo*/
.sectionMainInfo ul {
    display: flex;
    list-style: none;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    position: relative;
}

.sectionMainInfo ul li::after{
    content: "";
    position: absolute;
    top : 0;
    height : 1rem;
    border : 1px solid red;
    transform: translate(1rem, 0.3rem);
}

.sectionMainInfo ul li:first-child{
    flex : 1;
}

.sectionMainInfo ul li:nth-child(2){
    flex : 2;
}

.sectionMainInfo ul li:nth-child(3){
    flex : 1;
}


/* sectionMain - movieData*/
.movieData div {
    display: flex;
    margin: 1rem;
}

.movieData div img {
    max-width: 15%;
    flex : 1;
}
.movieData div .infoSec{
    display: flex;
    flex-direction: column;
    flex : 3;
    margin : 0 1rem ;
}

.movieData div .rating {
    display: flex;
    justify-content: center;
    align-items: center;
    color : yellow;
    position: relative;
    flex : 1;
}

.movieData div .ratingCover {
    position : absolute;
    height : 1rem;
    background: white;
    right : 0;
    margin : 0;
}

.movieData div .moreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color : black;
}

